.logo-object {
	cursor: pointer;
	&:hover {
		filter: invert(71%) sepia(42%) saturate(759%) hue-rotate(39deg) brightness(87%) contrast(85%);
	}
}

.logo {
	&:hover {
		cursor: pointer;
	}
}

.logo-object {
	@include media-laptop {
		height: 70px;
	}

	@include media-mobile-big-width {
		height: 50px;
	}
}

.humburger {
	display: none;
	width: 40px;
	height: 33px;
	position: relative;
	cursor: pointer;
	@include media-laptop {
		display: inline-block;
	}
	

	// &::before {
	// 	display: inline-block;
	// 	position: absolute;
	// 	content: '';
	// 	background-color: $color-primary-light;
	// 	height: 3px;
	// 	width: 100%;
	// 	top: 0;
	// 	left: 0;
		
	// 	transition-duration: 0.3s, 0.3s;
	// 	transition-delay: 0.3s, 0s;
	// 	transition-property: top, transform;
	// }

	// &::after {
	// 	display: inline-block;
	// 	position: absolute;
	// 	content: '';
	// 	background-color: $color-primary-light;
	// 	height: 3px;
	// 	width: 100%;
	// 	bottom: 0;
	// 	left: 0;
		
	// 	transition-duration: 0.3s, 0.3s;
	// 	transition-delay: 0.3s, 0s;
	// 	transition-property: bottom, transform;
	// }
}

// .humburger {
// 	&__line {
// 		display: inline-block;
// 		position: absolute;
// 		content: '';
// 		background-color: $color-primary-light;
// 		height: 3px;
// 		width: 100%;
// 		top: calc(50% - 1px);
// 		left: 0;
		
// 	}
// }

// .humburger__line_active {
// 	display: none;
// }

// .humburger_active::before {
// 	top: 0;
// 	transform: rotate(-45deg);
// 	transition-delay: 0s, 0.3s;
// }

// .humburger_active::after {
// 	bottom: 0;
// 	transform: rotate(45deg);
// 	transition-delay: 0s, 0.3s;
// }


.humburger {
	&__line {
		display: block;
		width: 100%;
		height: 3px;
		background-color: $color-primary-light;
		position: absolute;
		left: 0;
		transition: 0.3s all linear;
		
		&_first {
			top: 0;
		}
		&_second, 
		&_third {
			top: 50%;
			transform: translateY(-50%);
		}
		&_fourth {
			bottom: 0;
		}
	}
}


._active > .humburger__line .humburger__line_first,
._active > .humburger__line .humburger__line_fourth {
	display: none;
}


.ico {
	&:hover {
		filter: invert(71%) sepia(42%) saturate(759%) hue-rotate(39deg) brightness(87%) contrast(85%);
	}

	@include media-laptop {
		height: 30px;
	}
}



.skill-ico {
	height: 30px;
	padding-right: 15px;
}

// .progress-bar {
// 	height: 10px;
// 	background-color: $color-primary;
// 	display: block;
// 	margin-top: 5px;

// 	&_value75 {
// 		width: 75%;
// 	}

// 	&_value50 {
// 		width: 50%;
// 	}

// 	&_value25 {
// 		width: 25%;
// 	}

// 	&_value90 {
// 		width: 90%;
// 	}

// 	&_value100 {
// 		width: 100%;
// 	}
// }


// !!!!!!!!!!!!!!!!!!!!!!!!!!!!



.progress-bar {
	height: 10px;
	background-color: $color-primary;
	display: block;
	margin-top: 5px;

	@include media-tablet {
		height: 30px;
	}

	&::before {
		@include progress-bar ($width: 100%, $index: 0);
		background-color: $color-primary-light;

		@include media-tablet {
			@include progress-bar ($width: 100%, $height:30px, $index: 0);
		}
	}

	
}

.contacts-ico {
	height: 30px;

	@include media-mobile-big-width {
		height: 20px;
	}
}

